# M04 Programming Assignment - Modules and Databases  

Ryan Alvey - for SDEV220 

---  

Complete the following steps:  
In your text book, navigate to the end of Chapter 11 and 16 to the section titled "Things to Do"  
Complete the following sections in your Jupyter Notebook:  
- 11.1
- 11.2
- 16.8

---

### 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [22]:
import zoo

zoo.hours()

Open 9-5 daily.

### 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [23]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily.

### 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

##### 16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3
import csv

# Create connection and curson for db connection as well as initiate db named 'books.db'.
conn = sqlite3.connect('books.db')
curs = conn.cursor()

# Crceat table, also called books with 3 columns (title, author, year)
curs.execute('''CREATE TABLE books (
    title VARCHAR(50) PRIMARY KEY,
    author VARCHAR(20),
    year INT
    )''')

# Commit changes and close connection
conn.commit()
conn.close()

##### 16.5 Read books2.csv and insert its data into the book table.

In [3]:
# Create connection and curson for db connection.
conn = sqlite3.connect('books.db')
curs = conn.cursor()

# Open the csv file and create obj to store contents
with open('./books2.csv', 'rt') as file:
    contents = csv.reader(file)
    # Create safe placeholder to inserting data
    dbRecords = "INSERT INTO books (title,author,year) VALUES(?,?,?)"
    # Insert all records from csv into db
    curs.executemany(dbRecords, contents)

# Commit the changes to the database and close the connection
conn.commit()
conn.close()

##### 16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [5]:
# Create connection and curson for db connection.
conn = sqlite3.connect('books.db')
curs = conn.cursor()

# Cursor to run SQL SELCT to find only the titles of the books in alphabetical order
curs.execute('SELECT title FROM books ORDER BY title')
# Display all results 
print(curs.fetchall())

# Close db connection
conn.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

Note: Output not displaying in GitHub. results copied and pasted...

> [('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]